In [2]:
## Q1
Maths = int(input("Maths marks "))
Science = int(input("Science Marks "))
English = int(input("English Makrs "))
Urdu = int(input("Urdu Marks "))
Sindhi = int(input("Sindhi Marks "))

Total_Marks = Maths + Science + English + Urdu + Sindhi

if (Total_Marks >= 100 and Total_Marks <= 125) :
    print("A")

elif (Total_Marks >= 80 and Total_Marks < 100) :
    print("B")

elif (Total_Marks >= 60 and Total_Marks < 80) :
    print("C")

elif (Total_Marks >= 40 and Total_Marks < 60) :
    print("D")

elif (Total_Marks < 40 and Total_Marks >= 0) :
    print("F")

else :
    print("Invalid Marks")

Maths marks 12
Science Marks 12
English Makrs 12
Urdu Marks 12
Sindhi Marks 12
C

In [3]:
##Q2
Random_Number = int(input("Enter Number "))

if (Random_Number%2 == 0) :
    print("Even Number")
else :
    print("Odd Number")

Enter Number 21
Odd Number

In [4]:
##Q3
_list = [23,34,43,43,43,43,43,23,12]

print(len(_list))

9

In [6]:
##Q4
a = [6, 6, 2, 2, 5, 90, 13, 21, 24, 65, 59]
print(sum(a))

293

In [7]:
##Q5

a = [6, 6, 2, 2, 5, 90, 13, 21, 24, 65, 59]
print(max(a))
print(min(a))

90
2

In [8]:
##Q6
a = [76, 4, 2, 3,1, 5, 8, 13, 3, 6, 8, 89]

new_list = []

for item in a:
  
    if item < 5:
    
        new_list.append(item)
print(new_list)

[4, 2, 3, 1, 3]